    {{>loginbutton}}

    <section class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="text-center">Donate</h1>
                </div>
                <div class="col-md-6">
                    <h1 class="text-center">Create</h1>
                </div>
            </div>
        </div>
        <div class="container py-5">
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div>
                        <form class="p-3 p-xl-4" method="post">
                            <div class="mb-3"><input class="form-control" type="text" id="name-1" name="name" placeholder="Name"></div>
                            <div class="mb-3"><input class="form-control" type="email" id="email-1" name="email" placeholder="Email"><input class="form-control" type="email" id="email-4" name="email" placeholder="Amount" style="margin-top: 15px;"></div>
                            <div class="mb-3"><textarea class="form-control" id="message-1" name="message" rows="6" placeholder="Message"></textarea></div>
                            <div><button class="btn btn-primary shadow d-block w-100" type="submit">Portal</button></div> {{! SUBMIT DATA AND LINK TO LOGIN PAGE, ADD CONFIRMATION THAT DATA WAS ADDED TO DATABASE}}
                        </form>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div>
                        <form class="p-3 p-xl-4" method="post">
                            <div class="mb-3"><input class="form-control" type="text" id="name-2" name="name" placeholder="Orginization"></div>
                            <div class="mb-3"><input class="form-control" type="email" id="email-2" name="email" placeholder="Founder"><input class="form-control" type="email" id="email-3" name="name" placeholder="Email" style="margin-top: 13px;"></div>
                            <div class="mb-3"><textarea class="form-control" id="message-2" name="message" rows="6" placeholder="Mission Statement"></textarea></div>
                            <div><button class="btn btn-primary shadow d-block w-100" type="submit">Submit</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bold-and-dark.js"></script>
